In [11]:
test_input = '''35
20
15
25
47
40
62
55
65
95
102
117
150
182
127
219
299
277
309
576'''.split('\n')

test_input = [int(val) for val in test_input]

In [50]:
preamble = 5
for idx, val in enumerate(test_input):
    previous = test_input[idx-preamble:idx]
    if idx > preamble:
        tested = [num1 + num2 for num1 in previous for num2 in previous]
        #print(val, tested)
        if val not in tested:
            print('Not found:', val)
            break

Not found: 127

In [45]:
[num1 + num2 for num1 in previous for num2 in previous]

[254,
 346,
 426,
 404,
 436,
 346,
 438,
 518,
 496,
 528,
 426,
 518,
 598,
 576,
 608,
 404,
 496,
 576,
 554,
 586,
 436,
 528,
 608,
 586,
 618]

In [52]:
with open('day9_input.txt') as f:
    data = f.read().split('\n')
    
data = [int(ii) for ii in data]

In [60]:
def find_matching_value(test_input, preamble=25):
    for idx, val in enumerate(test_input):
        previous = test_input[idx-preamble:idx]
        if idx > preamble:
            tested = [num1 + num2 for num1 in previous for num2 in previous]
            if val not in tested:
                print('Not found:', val)
                return val

In [61]:
find_matching_value(data)

Not found: 32321523

32321523

## Task 2

In [102]:
def find_group(test_input, stop_value):
    for idx in range(len(test_input)):
        for size in range(2, 25):
            previous = test_input[idx-size:idx]
            if (stop_value == sum(previous)):
                return (min(previous) + max(previous), min(previous), max(previous), previous)

In [103]:
find_group(test_input, 127)

(62, 15, 47, [15, 25, 47, 40])

In [104]:
find_group(data, stop_value=32321523)

(4794981,
 1145730,
 3649251,
 [1566342,
  1145730,
  1282129,
  1629261,
  1499646,
  1420517,
  2477809,
  1488058,
  2493554,
  1569411,
  1570745,
  1594250,
  2149605,
  3057469,
  1675049,
  2052697,
  3649251])

### Better way?

In [105]:
test_input

[35,
 20,
 15,
 25,
 47,
 40,
 62,
 55,
 65,
 95,
 102,
 117,
 150,
 182,
 127,
 219,
 299,
 277,
 309,
 576]

In [108]:
summed_test_input = [(sum(test_input[:idx])) for idx, _ in enumerate(test_input)]
summed_test_input

[0,
 35,
 55,
 70,
 95,
 142,
 182,
 244,
 299,
 364,
 459,
 561,
 678,
 828,
 1010,
 1137,
 1356,
 1655,
 1932,
 2241]

In [109]:
summed_test_input[4] - summed_test_input[2]

40

In [112]:
sum(test_input[2:4])

40